In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plp
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from scipy.stats import ttest_rel, ttest_ind
from scipy.stats.contingency import association
from scipy.stats import spearmanr, pearsonr
pd.set_option('display.max_columns', None)
from scipy.stats import f_oneway, norm, f, chi2, chi2_contingency
import statsmodels.api as sm
from statsmodels.formula.api import ols
scaler = MinMaxScaler()

In [2]:
df=pd.read_csv('C:/Users/Usuario/Documents/Inhale-the-present-exhale-the-past.-/Data/Clean_data/aire_global_madrid.csv')
df_antes = pd.read_csv('C:/Users/Usuario/Documents/Inhale-the-present-exhale-the-past.-/Data/Clean_data/aire_antes.csv')
df_despues = pd.read_csv('C:/Users/Usuario/Documents/Inhale-the-present-exhale-the-past.-/Data/Clean_data/aire_despu√©s.csv')

In [3]:
df=df.dropna()

In [4]:
# We separate the first and second columns based only on when ZBEDEP and ZBE where created.

In [5]:
df_antes=df[df['ano']<2021]
df_despues= df[df['ano'] >= 2021]

In [6]:
df.head()

,provincia,municipio,estacion,magnitud,punto_muestreo,ano,mes,dia,h01,h02,h03,h04,h05,h06,h07,h08,h09,h10,h11,h12,h13,h14,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
0,28,13,2,7,28013002_7_8,2005,1,1,0.919611,0.918859,0.906448,0.900882,0.904917,0.910125,0.918763,0.909248,0.880299,0.903267,0.911317,0.906850,0.942733,0.943702,0.922304,0.928684,0.917322,0.914621,0.899875,0.870246,0.881305,0.014848,0.007098,0.008048
1,28,13,2,8,28013002_8_8,2005,1,1,0.919703,0.918676,0.907173,0.901692,0.905098,0.910852,0.919038,0.909339,0.880123,0.902906,0.911135,0.906850,0.943204,0.944361,0.923410,0.930817,0.919517,0.914621,0.898802,0.868689,0.880428,0.020787,0.018634,0.019115
2,28,13,2,10,28013002_10_49,2005,1,1,0.922272,0.919868,0.908350,0.902683,0.906273,0.912581,0.919956,0.909884,0.880827,0.903086,0.911773,0.907666,0.942828,0.942760,0.923410,0.927942,0.916499,0.912348,0.898713,0.868517,0.881481,0.025984,0.029281,0.028169
3,28,13,2,14,28013002_14_6,2005,1,1,0.918785,0.917943,0.906720,0.901332,0.904917,0.910670,0.918946,0.909430,0.880915,0.904169,0.913047,0.909116,0.945842,0.944926,0.926544,0.930539,0.916499,0.910620,0.895316,0.865577,0.878323,0.011136,0.012422,0.013078
4,28,45,2,6,28045002_6_48,2005,1,1,0.917886,0.916870,0.905606,0.900198,0.903814,0.909624,0.917872,0.908394,0.879464,0.902292,0.910416,0.906044,0.941801,0.941367,0.921585,0.927321,0.914533,0.909238,0.894028,0.864566,0.877463,0.001707,0.000799,0.000604

In [7]:
columns_to_check = ['v01', 'v02', 'v03', 'v04', 'v05', 'v06', 'v07', 'v08', 'v09', 'v10', 'v11', 'v12', 'v13', 'v14', 'v15', 'v16', 'v17', 'v18', 'v19', 'v20', 'v21', 'v22', 'v23', 'v24']
columns_to_modify2 = ['h01', 'h02', 'h03', 'h04', 'h05', 'h06', 'h07', 'h08', 'h09', 'h10', 'h11', 'h12', 'h13', 'h14', 'h15', 'h16', 'h17', 'h18', 'h19', 'h20', 'h21', 'h22', 'h23', 'h24']
# df_antes = df_antes[~df_antes[columns_to_check].apply(lambda row: row.str.contains('n')).any(axis=1)]
# df_despues = df_despues[~df_despues[columns_to_check].apply(lambda row: row.str.contains('n')).any(axis=1)]

In [8]:
"""
for col in columns_to_modify2:
    df_antes[col] = df_antes[col].str.replace(',', '.').astype(float)
      df_antes[col] = df_antes[col].str.replace(',', '0').astype(float)
"""

"\nfor col in columns_to_modify2:\n    df_antes[col] = df_antes[col].str.replace(',', '.').astype(float)\n      df_antes[col] = df_antes[col].str.replace(',', '0').astype(float)\n"

In [9]:
# now we work the second table

In [10]:
"""
df_despues=df.drop('Unnamed: 0', axis=1)
df_despues = df_despues[~df_despues[columns_to_check].apply(lambda row: row.str.contains('n')).any(axis=1)]
for col in columns_to_modify2:
    df_despues[col] = df_despues[col].str.replace(',', '.').astype(float)
"""

"\ndf_despues=df.drop('Unnamed: 0', axis=1)\ndf_despues = df_despues[~df_despues[columns_to_check].apply(lambda row: row.str.contains('n')).any(axis=1)]\nfor col in columns_to_modify2:\n    df_despues[col] = df_despues[col].str.replace(',', '.').astype(float)\n"

In [11]:
df_despues[columns_to_modify2] = scaler.fit_transform(df_despues[columns_to_modify2])
df_antes[columns_to_modify2] = scaler.fit_transform(df_antes[columns_to_modify2])

C:\Users\Usuario\AppData\Local\Temp\ipykernel_20620\3268082454.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_despues[columns_to_modify2] = scaler.fit_transform(df_despues[columns_to_modify2])

C:\Users\Usuario\AppData\Local\Temp\ipykernel_20620\3268082454.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_antes[columns_to_modify2] = scaler.fit_transform(df_antes[columns_to_modify2])

After studying the DataFrames we detelte the 'V' columns

In [12]:
#df_despues=df_despues.drop(columns_to_check,axis=1)
#df_antes=df_antes.drop(columns_to_check,axis=1)

In [13]:

#H0 = Madrid rio ha funcionado, reduciendo los limites de C02 de los ultimos a√±os
#H1 = Madrid rio no ha funcionado, los limites de C02 no se bhan reducido como se esperaba

In [14]:
cross_1= pd.crosstab(df['municipio'],df['magnitud'])
cross_1

magnitud,1,6,7,8,9,10,12,14,20,30,42,44,431
municipio,,,,,,,,,,,,,
5,6032,6062,6036,6036,1663,6554,3079,6021,0,0,0,0,0
6,0,0,6054,6055,0,6532,3079,5970,6322,6370,6177,6176,2287
7,0,0,4828,4829,5201,0,3124,4830,0,0,0,0,0
9,0,0,5284,5286,5726,0,3126,7135,0,0,0,0,0
13,0,0,5943,5940,0,6416,3120,5937,0,0,0,0,0
14,0,0,5607,5592,0,6024,3139,5274,0,0,0,0,0
16,5390,5452,5417,5419,5919,5966,3106,5303,5606,5608,5743,5752,2297
45,0,6077,6075,6077,0,6566,3159,6061,0,0,0,0,0
47,5548,0,5573,5576,6000,0,3103,5569,5811,5801,5816,5827,2305
49,0,0,5186,5190,1640,5572,3038,5181,0,0,0,0,0
58,0,0,5966,5965,0,6442,3115,5872,6272,6304,6242,6249,2279
65,0,0,3391,3385,1712,3630,3111,3405,0,0,0,0,0
67,0,0,5429,5427,0,5789,3140,5462,0,0,0,0,0
74,0,0,6054,6046,1652,6492,3096,6061,0,0,0,0,0
80,0,0,6063,6070,0,6541,3128,6046,0,0,0,0,0
92,5903,5903,5923,5924,0,6449,3138,5829,0,0,0,0,0
102,5404,5438,5407,5404,0,5931,3128,5400,0,0,0,0,0
106,0,0,122,122,133,0,121,122,0,0,0,0,0
115,0,0,139,139,130,0,138,139,0,0,0,0,0
120,0,0,1505,1506,1643,1634,1507,1508,0,0,0,0,0
123,0,0,5513,5507,0,5585,3103,7170,0,0,0,0,0
127,0,0,132,132,0,143,133,133,0,0,0,0,0
133,0,0,5508,5508,0,5249,3127,5467,0,0,0,0,0
134,0,0,135,135,0,136,135,136,0,0,0,0,0
148,0,0,5937,5935,4726,6241,3106,5959,0,0,0,0,0
161,0,0,5513,5514,5809,0,3117,5544,0,0,0,0,0
171,5449,5457,5438,5445,5805,5891,3061,5407,0,0,0,0,0
180,0,0,5609,5623,5844,0,3098,5614,0,0,0,0,0

In [15]:
estadistico, p_valor, ex, ddof = chi2_contingency(cross_1)

estadistico, p_valor

(565501.6926295952, 0.0)

In [16]:
datos_ant=df_antes['magnitud']
datos_des=df_despues['magnitud']

df=df.drop('Unnamed: 0', axis=1)
df = df[~df[columns_to_check].apply(lambda row: row.str.contains('n')).any(axis=1)]

for col in columns_to_modify2:
    df[col] = df[col].str.replace(',', '.').astype(float)
df[columns_to_modify2] = scaler.fit_transform(df[columns_to_modify2])
df=df.drop(columns_to_check,axis=1)

In [17]:
# df.to_csv('aire_global',index=False)
# df_antes.to_csv('aire_antes',index=False)
# df_despues.to_csv('aire_despu√©s',index=False)

In [18]:

correlation, p_value = spearmanr(df["estacion"], df["magnitud"])
print("Coeficiente de correlaci√≥n de Spearman:", correlation)
print("Valor p:", p_value)

Coeficiente de correlaci√≥n de Spearman: 0.09765951745118626
Valor p: 0.0

In [19]:
correlation, p_value = pearsonr(df["estacion"], df["magnitud"])
print("Coeficiente de correlaci√≥n de Pearson:", correlation)
print("Valor p:", p_value)

Coeficiente de correlaci√≥n de Pearson: 0.004200261677218451
Valor p: 0.00016816620050213643

spearman= df_despues['punto_muestreo'].corr(df_despues['magnitud'], method='spearman')
pearson =df_antes['punto_muestreo'].corr(df_antes['magnitud'], method='pearson')
print(spearman)
print(pearson)

In [20]:
f_score, p_valor = f_oneway(df_antes['magnitud'], df_despues['magnitud'])
f_score,p_valor

(2960.5283608355994, 0.0)

In [21]:
print(datos_ant.isnull().sum())
print(datos_des.isnull().sum())

0
0

In [22]:
random_sample = df_antes.sample(n=154179)

In [23]:
datos_ant=random_sample['magnitud']
datos_des=df_despues['magnitud']

In [24]:
if df_despues.shape == random_sample.shape:
    print('yes')
else:
    print('no')

yes

In [25]:
random_sample.head()

,provincia,municipio,estacion,magnitud,punto_muestreo,ano,mes,dia,h01,h02,h03,h04,h05,h06,h07,h08,h09,h10,h11,h12,h13,h14,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
133534,28,67,1,8,28067001_8_8,2009,6,15,0.917684,0.926276,0.929980,0.924058,0.926712,0.928459,0.929274,0.909611,0.880123,0.902635,0.910771,0.950404,0.955666,0.948781,0.921935,0.927571,0.914761,0.909347,0.894153,0.864799,0.877972,0.007424,0.007986,0.005030
224277,28,45,2,6,28045002_6_48,2011,10,12,0.917629,0.926128,0.929831,0.923808,0.926462,0.927846,0.928114,0.908394,0.879464,0.902319,0.910453,0.950081,0.955437,0.948468,0.921631,0.927367,0.914560,0.909238,0.893966,0.864454,0.877279,0.000445,0.000444,0.000503
525587,28,133,2,8,28133002_8_8,2018,7,24,0.917867,0.926368,0.930073,0.924058,0.926712,0.928273,0.928717,0.908975,0.879947,0.902725,0.910771,0.950499,0.955762,0.948781,0.921843,0.927571,0.914761,0.909529,0.894332,0.864799,0.877709,0.003712,0.003549,0.006036
348572,28,123,2,7,28123002_7_8,2014,10,28,0.922915,0.926368,0.930166,0.924427,0.927082,0.929108,0.932059,0.917696,0.883993,0.904440,0.911409,0.950499,0.956048,0.948971,0.922120,0.927571,0.915676,0.919440,0.907384,0.881916,0.891306,0.066073,0.021295,0.022133
251371,28,16,1,8,28016001_8_8,2012,6,28,0.917684,0.926183,0.929887,0.923873,0.926526,0.927902,0.928160,0.908430,0.879507,0.902364,0.910498,0.950119,0.955475,0.948497,0.921659,0.927386,0.914578,0.909256,0.893975,0.864454,0.877270,0.000742,0.000887,0.001006

In [26]:
random_sample.head()
datos_des.head()

648270     1
648271     6
648272     7
648273     8
648274    10
Name: magnitud, dtype: int64

In [27]:
ttest_rel(df_despues['magnitud'],random_sample['magnitud'],alternative='less')

TtestResult(statistic=35.534931108034876, pvalue=1.0, df=154178)

In [28]:
ttest_rel(df_despues['magnitud'],random_sample['magnitud'],alternative='less')

TtestResult(statistic=35.534931108034876, pvalue=1.0, df=154178)

In [29]:
df.head()

,provincia,municipio,estacion,magnitud,punto_muestreo,ano,mes,dia,h01,h02,h03,h04,h05,h06,h07,h08,h09,h10,h11,h12,h13,h14,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
0,28,13,2,7,28013002_7_8,2005,1,1,0.919611,0.918859,0.906448,0.900882,0.904917,0.910125,0.918763,0.909248,0.880299,0.903267,0.911317,0.906850,0.942733,0.943702,0.922304,0.928684,0.917322,0.914621,0.899875,0.870246,0.881305,0.014848,0.007098,0.008048
1,28,13,2,8,28013002_8_8,2005,1,1,0.919703,0.918676,0.907173,0.901692,0.905098,0.910852,0.919038,0.909339,0.880123,0.902906,0.911135,0.906850,0.943204,0.944361,0.923410,0.930817,0.919517,0.914621,0.898802,0.868689,0.880428,0.020787,0.018634,0.019115
2,28,13,2,10,28013002_10_49,2005,1,1,0.922272,0.919868,0.908350,0.902683,0.906273,0.912581,0.919956,0.909884,0.880827,0.903086,0.911773,0.907666,0.942828,0.942760,0.923410,0.927942,0.916499,0.912348,0.898713,0.868517,0.881481,0.025984,0.029281,0.028169
3,28,13,2,14,28013002_14_6,2005,1,1,0.918785,0.917943,0.906720,0.901332,0.904917,0.910670,0.918946,0.909430,0.880915,0.904169,0.913047,0.909116,0.945842,0.944926,0.926544,0.930539,0.916499,0.910620,0.895316,0.865577,0.878323,0.011136,0.012422,0.013078
4,28,45,2,6,28045002_6_48,2005,1,1,0.917886,0.916870,0.905606,0.900198,0.903814,0.909624,0.917872,0.908394,0.879464,0.902292,0.910416,0.906044,0.941801,0.941367,0.921585,0.927321,0.914533,0.909238,0.894028,0.864566,0.877463,0.001707,0.000799,0.000604

In [30]:
df.rename(columns={'provincia':'province','municipio':'municipality','estacion':'station','estacion':'station','magnitud':'magnitude',
                   'punto_muestreo':'measuring_point','ano':'year','mes':'month','dia':'day'}, inplace=True)

In [31]:
df_id=df[['province','municipality','magnitude','month']]
df_id=df_id.rename(columns={'province':'province_id','municipality':'municipality_id','magnitude':'magnitude_id','month':'month_id'})

In [32]:
df_antes.rename(columns={'provincia':'province','municipio':'municipality','estacion':'station','estacion':'station','magnitud':'magnitude',
                   'punto_muestreo':'measuring_point','ano':'year','mes':'month','dia':'day'}, inplace=True)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_20620\100119047.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_antes.rename(columns={'provincia':'province','municipio':'municipality','estacion':'station','estacion':'station','magnitud':'magnitude',

In [34]:
municipality_map= {16:'el_atazar',47:'collado_villalba',6:'alcobendas',58:'fuenlabrada',171:'villa_del_prado',
                   5:'alcala_de_henares',92:'mostoles',102:'orusco_de_taju√±a',45:'colmenar_viejo',148:'torrejon_de_ardoz',
                   74:'leganes',80:'majadahonda',13:'aranjuez',123:'rivas_vaciamadrid',9:'algete',49:'coslada',
                   180:'villarejo_de_salvanes',14:'arganda_del_rey',161:'valdemoro',67:'guadalix_de_la_sierra',
                   133:'san_martin_de_valdeiglesias',7:'alcorcon',65:'getafe',120:'puerto_de_cotos',115:'pozuelo_de_alarcon',
                   134:'san_sebastian_de_los_reyes',127:'las_rozas',106:'parla'}

In [35]:
province_map = {28:'madrid'}
month_map = {
    1: 'january',
    2: 'february',
    3: 'march',
    4: 'april',
    5: 'may',
    6: 'june',
    7: 'july',
    8: 'august',
    9: 'september',
    10: 'october',
    11: 'november',
    12: 'december'
}


df['month'] = df['month'].map(month_map)
df_antes['month'] = df_despues['month'].map(month_map)
df_antes['month'] = df_despues['month'].map(month_map)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_20620\1455140709.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_antes['month'] = df_despues['month'].map(month_map)
C:\Users\Usuario\AppData\Local\Temp\ipykernel_20620\1455140709.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_antes['month'] = df_despues['month'].map(month_map)

In [36]:
df['province'] = df['province'].map(province_map)
df_antes['province'] = df_despues['province'].map(province_map)
df_antes['province'] = df_despues['province'].map(province_map)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_20620\2292991661.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_antes['province'] = df_despues['province'].map(province_map)
C:\Users\Usuario\AppData\Local\Temp\ipykernel_20620\2292991661.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_antes['province'] = df_despues['province'].map(province_map)

In [37]:
df['municipality'] = df['municipality'].map(municipality_map)
df_antes['municipality'] = df_despues['municipality'].map(municipality_map)
df_antes['municipality'] = df_despues['municipality'].map(municipality_map)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_20620\3803058845.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_antes['municipality'] = df_despues['municipality'].map(municipality_map)
C:\Users\Usuario\AppData\Local\Temp\ipykernel_20620\3803058845.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_antes['municipality'] = df_despues['municipality'].map(municipality_map)

In [38]:
magnitude_map={14:'ozone',7:'nitrogen_moxide',8:'nitrogen_dioxide',10:'particles_in_suspension(<_PM10)',
              12:'nitrogen_oxides',9:'particles_in_suspension(<_PM2,5)',6:'carbon_monoxide',1:'sulfur_dioxide',
              30:'benzene',20:'toluene',44:'non_methane_hydrocarbons',42:'total_hydrocarbons',
              431:'metaparaxylene'}

In [39]:
df['magnitude'] = df['magnitude'].map(magnitude_map)
df_antes['magnitude'] = df_despues['magnitude'].map(magnitude_map)
df_antes['magnitude'] = df_despues['magnitude'].map(magnitude_map)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_20620\3567925050.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_antes['magnitude'] = df_despues['magnitude'].map(magnitude_map)
C:\Users\Usuario\AppData\Local\Temp\ipykernel_20620\3567925050.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_antes['magnitude'] = df_despues['magnitude'].map(magnitude_map)

In [40]:

split_values = df['measuring_point'].str.split('_')
extracted_numbers = split_values.str[2]
df['tech'] = extracted_numbers
df['measuring_point'] = df['measuring_point'].str.replace(r'_(\d+)$', '', regex=True)


df['measuring_point'] = df['measuring_point'].str.replace(r'_(\d+)$', '', regex=True)

In [41]:
technical_description_map={'8':'quimioluminescence','49':'beta_absortion','6':'uv_absortion',
                           '59':'gas_cromatography','2':'flame_ionization','48':'non_dispersed_infrared_espectometry',
                           '38':'uv_fluorescence'}

In [42]:
df['tech'] = df['tech'].map(technical_description_map)
df_antes['tech'] = df_despues['tech'].map(technical_description_map)
df_antes['tech'] = df_despues['tech'].map(technical_description_map)

KeyError: 'tech'

In [43]:
df_1 = df[['year', 'month', 'day', 'tech', 'h01', 'h02', 'h03', 'h04', 'h05', 'h06', 'h07', 'h08', 'h09', 'h10',
            'h11', 'h12', 'h13', 'h14', 'h15', 'h16', 'h17', 'h18', 'h19', 'h20', 'h21', 'h22', 'h23', 'h24']]

In [44]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 802449 entries, 0 to 802448
Data columns (total 28 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   year    802449 non-null  int64
 1   month   802449 non-null  object
 2   day     802449 non-null  int64
 3   tech    802449 non-null  object
 4   h01     802449 non-null  float64
 5   h02     802449 non-null  float64
 6   h03     802449 non-null  float64
 7   h04     802449 non-null  float64
 8   h05     802449 non-null  float64
 9   h06     802449 non-null  float64
 10  h07     802449 non-null  float64
 11  h08     802449 non-null  float64
 12  h09     802449 non-null  float64
 13  h10     802449 non-null  float64
 14  h11     802449 non-null  float64
 15  h12     802449 non-null  float64
 16  h13     802449 non-null  float64
 17  h14     802449 non-null  float64
 18  h15     802449 non-null  float64
 19  h16     802449 non-null  float64
 20  h17     802449 non-null  float64
 21  h18     802449 non-null  float64
 22  h19     802449 non-null  float64
 23  h20     802449 non-null  float64
 24  h21     802449 non-null  float64
 25  h22     802449 non-null  float64
 26  h23     802449 non-null  float64
 27  h24     802449 non-null  float64
dtypes: float64(24), int64(2), object(2)
memory usage: 171.4+ MB

df_1.to_csv('erd_1.csv',index=False)

In [45]:
merged_df = df.merge(df_id, left_index=True, right_index=True, how='inner')

In [46]:
merged_df.head()

,province,municipality,station,magnitude,measuring_point,year,month,day,h01,h02,h03,h04,h05,h06,h07,h08,h09,h10,h11,h12,h13,h14,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24,tech,province_id,municipality_id,magnitude_id,month_id
0,madrid,aranjuez,2,nitrogen_moxide,28013002_7,2005,january,1,0.919611,0.918859,0.906448,0.900882,0.904917,0.910125,0.918763,0.909248,0.880299,0.903267,0.911317,0.906850,0.942733,0.943702,0.922304,0.928684,0.917322,0.914621,0.899875,0.870246,0.881305,0.014848,0.007098,0.008048,quimioluminescence,28,13,7,1
1,madrid,aranjuez,2,nitrogen_dioxide,28013002_8,2005,january,1,0.919703,0.918676,0.907173,0.901692,0.905098,0.910852,0.919038,0.909339,0.880123,0.902906,0.911135,0.906850,0.943204,0.944361,0.923410,0.930817,0.919517,0.914621,0.898802,0.868689,0.880428,0.020787,0.018634,0.019115,quimioluminescence,28,13,8,1
2,madrid,aranjuez,2,particles_in_suspension(<_PM10),28013002_10,2005,january,1,0.922272,0.919868,0.908350,0.902683,0.906273,0.912581,0.919956,0.909884,0.880827,0.903086,0.911773,0.907666,0.942828,0.942760,0.923410,0.927942,0.916499,0.912348,0.898713,0.868517,0.881481,0.025984,0.029281,0.028169,beta_absortion,28,13,10,1
3,madrid,aranjuez,2,ozone,28013002_14,2005,january,1,0.918785,0.917943,0.906720,0.901332,0.904917,0.910670,0.918946,0.909430,0.880915,0.904169,0.913047,0.909116,0.945842,0.944926,0.926544,0.930539,0.916499,0.910620,0.895316,0.865577,0.878323,0.011136,0.012422,0.013078,uv_absortion,28,13,14,1
4,madrid,colmenar_viejo,2,carbon_monoxide,28045002_6,2005,january,1,0.917886,0.916870,0.905606,0.900198,0.903814,0.909624,0.917872,0.908394,0.879464,0.902292,0.910416,0.906044,0.941801,0.941367,0.921585,0.927321,0.914533,0.909238,0.894028,0.864566,0.877463,0.001707,0.000799,0.000604,non_dispersed_infrared_espectometry,28,45,6,1

In [47]:
df_2 =merged_df[['province',]]
df_3=merged_df[['municipality']]

In [48]:
dfsql2 = df_3.groupby("municipality").count()

In [49]:
dfsql2

Empty DataFrame
Columns: []
Index: [alcala_de_henares, alcobendas, alcorcon, algete, aranjuez, arganda_del_rey, collado_villalba, colmenar_viejo, coslada, el_atazar, fuenlabrada, getafe, guadalix_de_la_sierra, las_rozas, leganes, majadahonda, mostoles, orusco_de_taju√±a, parla, pozuelo_de_alarcon, puerto_de_cotos, rivas_vaciamadrid, san_martin_de_valdeiglesias, san_sebastian_de_los_reyes, torrejon_de_ardoz, valdemoro, villa_del_prado, villarejo_de_salvanes]

In [50]:
dfsql2["municipality_id"] = [i for i in range(1, len(dfsql2)+1)]

In [51]:
dfsql2.drop(columns=['muniID'],inplace=True)

KeyError: "['muniID'] not found in axis"

In [ ]:
dfsql2=dfsql2.reset_index()

In [ ]:
dfsql2.to_csv

                   municipality  municipality_id
0             alcala_de_henares                1
1                    alcobendas                2
2                      alcorcon                3
3                        algete                4
4                      aranjuez                5
5               arganda_del_rey                6
6              collado_villalba                7
7                colmenar_viejo                8
8                       coslada                9
9                     el_atazar               10
10                  fuenlabrada               11
11                       getafe               12
12        guadalix_de_la_sierra               13
13                    las_rozas               14
14                      leganes               15
15                  majadahonda               16
16                     mostoles               17
17             orusco_de_taju√±a               18
18                        parla               19
19           pozuelo_de_alarcon               20
20              puerto_de_cotos               21
21            rivas_vaciamadrid               22
22  san_martin_de_valdeiglesias               23
23   san_sebastian_de_los_reyes               24
24            torrejon_de_ardoz               25
25                    valdemoro               26
26              villa_del_prado               27
27        villarejo_de_salvanes               28

In [52]:
df_1

,year,month,day,tech,h01,h02,h03,h04,h05,h06,h07,h08,h09,h10,h11,h12,h13,h14,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
0,2005,january,1,quimioluminescence,0.919611,0.918859,0.906448,0.900882,0.904917,0.910125,0.918763,0.909248,0.880299,0.903267,0.911317,0.906850,0.942733,0.943702,0.922304,0.928684,0.917322,0.914621,0.899875,0.870246,0.881305,0.014848,0.007098,0.008048
1,2005,january,1,quimioluminescence,0.919703,0.918676,0.907173,0.901692,0.905098,0.910852,0.919038,0.909339,0.880123,0.902906,0.911135,0.906850,0.943204,0.944361,0.923410,0.930817,0.919517,0.914621,0.898802,0.868689,0.880428,0.020787,0.018634,0.019115
2,2005,january,1,beta_absortion,0.922272,0.919868,0.908350,0.902683,0.906273,0.912581,0.919956,0.909884,0.880827,0.903086,0.911773,0.907666,0.942828,0.942760,0.923410,0.927942,0.916499,0.912348,0.898713,0.868517,0.881481,0.025984,0.029281,0.028169
3,2005,january,1,uv_absortion,0.918785,0.917943,0.906720,0.901332,0.904917,0.910670,0.918946,0.909430,0.880915,0.904169,0.913047,0.909116,0.945842,0.944926,0.926544,0.930539,0.916499,0.910620,0.895316,0.865577,0.878323,0.011136,0.012422,0.013078
4,2005,january,1,non_dispersed_infrared_espectometry,0.917886,0.916870,0.905606,0.900198,0.903814,0.909624,0.917872,0.908394,0.879464,0.902292,0.910416,0.906044,0.941801,0.941367,0.921585,0.927321,0.914533,0.909238,0.894028,0.864566,0.877463,0.001707,0.000799,0.000604
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802444,2023,december,31,quimioluminescence,0.917684,0.916842,0.905633,0.900252,0.903832,0.909670,0.917936,0.908430,0.879507,0.902364,0.910498,0.906125,0.941980,0.941536,0.921659,0.927386,0.914670,0.909256,0.894064,0.864540,0.877445,0.000742,0.000887,0.001006
802445,2023,december,31,quimioluminescence,0.918877,0.917851,0.906176,0.900522,0.904103,0.910034,0.918304,0.908794,0.879947,0.902906,0.910953,0.906578,0.942451,0.941819,0.921935,0.928035,0.915584,0.911166,0.896031,0.866961,0.880428,0.011878,0.007986,0.013078
802446,2023,december,31,beta_absortion,0.919152,0.917943,0.907716,0.902143,0.905007,0.910488,0.919222,0.910429,0.881530,0.903628,0.910771,0.906307,0.942545,0.941442,0.921659,0.927571,0.915401,0.910347,0.894958,0.864886,0.878498,0.005939,0.004437,0.009054
802447,2023,december,31,quimioluminescence,0.919060,0.918034,0.906358,0.900702,0.904284,0.910216,0.918487,0.908975,0.880123,0.903086,0.911135,0.906760,0.942639,0.942101,0.922120,0.928220,0.915859,0.911348,0.896299,0.867306,0.880779,0.013363,0.009760,0.015091
802448,2023,december,31,uv_absortion,0.921355,0.920510,0.909437,0.904933,0.909074,0.914764,0.922526,0.912518,0.883465,0.906876,0.915233,0.911018,0.946689,0.946150,0.926452,0.932023,0.918603,0.911984,0.896299,0.866010,0.878059,0.019302,0.030169,0.034205