In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plp
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from scipy.stats import ttest_rel, ttest_ind
from scipy.stats.contingency import association
from scipy.stats import spearmanr, pearsonr
pd.set_option('display.max_columns', None)
from scipy.stats import f_oneway, norm, f, chi2, chi2_contingency
import statsmodels.api as sm
from statsmodels.formula.api import ols
scaler = MinMaxScaler()

In [2]:
df=pd.read_csv('C:/Users/Usuario/Documents/Inhale-the-present-exhale-the-past.-/Data/Clean_data/aire_global_madrid.csv')
df_antes = pd.read_csv('C:/Users/Usuario/Documents/Inhale-the-present-exhale-the-past.-/Data/Clean_data/aire_antes.csv')
df_despues = pd.read_csv('C:/Users/Usuario/Documents/Inhale-the-present-exhale-the-past.-/Data/Clean_data/aire_despu√©s.csv')

In [3]:
df=df.dropna()

In [4]:
# We separate the first and second columns based only on when ZBEDEP and ZBE where created.

In [5]:
df_antes=df[df['ano']<2021]
df_despues= df[df['ano'] >= 2021]

In [54]:
df.head()

,province,municipality,station,magnitud,measuring_point,year,month,day,h01,h02,h03,h04,h05,h06,h07,h08,h09,h10,h11,h12,h13,h14,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
0,28,13,2,7,28013002_7_8,2005,1,1,0.919611,0.918859,0.906448,0.900882,0.904917,0.910125,0.918763,0.909248,0.880299,0.903267,0.911317,0.906850,0.942733,0.943702,0.922304,0.928684,0.917322,0.914621,0.899875,0.870246,0.881305,0.014848,0.007098,0.008048
1,28,13,2,8,28013002_8_8,2005,1,1,0.919703,0.918676,0.907173,0.901692,0.905098,0.910852,0.919038,0.909339,0.880123,0.902906,0.911135,0.906850,0.943204,0.944361,0.923410,0.930817,0.919517,0.914621,0.898802,0.868689,0.880428,0.020787,0.018634,0.019115
2,28,13,2,10,28013002_10_49,2005,1,1,0.922272,0.919868,0.908350,0.902683,0.906273,0.912581,0.919956,0.909884,0.880827,0.903086,0.911773,0.907666,0.942828,0.942760,0.923410,0.927942,0.916499,0.912348,0.898713,0.868517,0.881481,0.025984,0.029281,0.028169
3,28,13,2,14,28013002_14_6,2005,1,1,0.918785,0.917943,0.906720,0.901332,0.904917,0.910670,0.918946,0.909430,0.880915,0.904169,0.913047,0.909116,0.945842,0.944926,0.926544,0.930539,0.916499,0.910620,0.895316,0.865577,0.878323,0.011136,0.012422,0.013078
4,28,45,2,6,28045002_6_48,2005,1,1,0.917886,0.916870,0.905606,0.900198,0.903814,0.909624,0.917872,0.908394,0.879464,0.902292,0.910416,0.906044,0.941801,0.941367,0.921585,0.927321,0.914533,0.909238,0.894028,0.864566,0.877463,0.001707,0.000799,0.000604

In [53]:
df_antes.

(648270, 32)

In [7]:
columns_to_check = ['v01', 'v02', 'v03', 'v04', 'v05', 'v06', 'v07', 'v08', 'v09', 'v10', 'v11', 'v12', 'v13', 'v14', 'v15', 'v16', 'v17', 'v18', 'v19', 'v20', 'v21', 'v22', 'v23', 'v24']
columns_to_modify2 = ['h01', 'h02', 'h03', 'h04', 'h05', 'h06', 'h07', 'h08', 'h09', 'h10', 'h11', 'h12', 'h13', 'h14', 'h15', 'h16', 'h17', 'h18', 'h19', 'h20', 'h21', 'h22', 'h23', 'h24']
# df_antes = df_antes[~df_antes[columns_to_check].apply(lambda row: row.str.contains('n')).any(axis=1)]
# df_despues = df_despues[~df_despues[columns_to_check].apply(lambda row: row.str.contains('n')).any(axis=1)]

In [8]:
"""
for col in columns_to_modify2:
    df_antes[col] = df_antes[col].str.replace(',', '.').astype(float)
      df_antes[col] = df_antes[col].str.replace(',', '0').astype(float)
"""

"\nfor col in columns_to_modify2:\n    df_antes[col] = df_antes[col].str.replace(',', '.').astype(float)\n      df_antes[col] = df_antes[col].str.replace(',', '0').astype(float)\n"

In [9]:
# now we work the second table

In [10]:
"""
df_despues=df.drop('Unnamed: 0', axis=1)
df_despues = df_despues[~df_despues[columns_to_check].apply(lambda row: row.str.contains('n')).any(axis=1)]
for col in columns_to_modify2:
    df_despues[col] = df_despues[col].str.replace(',', '.').astype(float)
"""

"\ndf_despues=df.drop('Unnamed: 0', axis=1)\ndf_despues = df_despues[~df_despues[columns_to_check].apply(lambda row: row.str.contains('n')).any(axis=1)]\nfor col in columns_to_modify2:\n    df_despues[col] = df_despues[col].str.replace(',', '.').astype(float)\n"

In [11]:
df_despues[columns_to_modify2] = scaler.fit_transform(df_despues[columns_to_modify2])
df_antes[columns_to_modify2] = scaler.fit_transform(df_antes[columns_to_modify2])

C:\Users\Usuario\AppData\Local\Temp\ipykernel_6100\3268082454.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_despues[columns_to_modify2] = scaler.fit_transform(df_despues[columns_to_modify2])

C:\Users\Usuario\AppData\Local\Temp\ipykernel_6100\3268082454.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_antes[columns_to_modify2] = scaler.fit_transform(df_antes[columns_to_modify2])

After studying the DataFrames we detelte the 'V' columns

In [12]:
#df_despues=df_despues.drop(columns_to_check,axis=1)
#df_antes=df_antes.drop(columns_to_check,axis=1)

In [13]:

#H0 = Madrid rio ha funcionado, reduciendo los limites de C02 de los ultimos a√±os
#H1 = Madrid rio no ha funcionado, los limites de C02 no se bhan reducido como se esperaba

In [14]:
cross_1= pd.crosstab(df['municipio'],df['magnitud'])
cross_1

magnitud,1,6,7,8,9,10,12,14,20,30,42,44,431
municipio,,,,,,,,,,,,,
5,6032,6062,6036,6036,1663,6554,3079,6021,0,0,0,0,0
6,0,0,6054,6055,0,6532,3079,5970,6322,6370,6177,6176,2287
7,0,0,4828,4829,5201,0,3124,4830,0,0,0,0,0
9,0,0,5284,5286,5726,0,3126,7135,0,0,0,0,0
13,0,0,5943,5940,0,6416,3120,5937,0,0,0,0,0
14,0,0,5607,5592,0,6024,3139,5274,0,0,0,0,0
16,5390,5452,5417,5419,5919,5966,3106,5303,5606,5608,5743,5752,2297
45,0,6077,6075,6077,0,6566,3159,6061,0,0,0,0,0
47,5548,0,5573,5576,6000,0,3103,5569,5811,5801,5816,5827,2305
49,0,0,5186,5190,1640,5572,3038,5181,0,0,0,0,0
58,0,0,5966,5965,0,6442,3115,5872,6272,6304,6242,6249,2279
65,0,0,3391,3385,1712,3630,3111,3405,0,0,0,0,0
67,0,0,5429,5427,0,5789,3140,5462,0,0,0,0,0
74,0,0,6054,6046,1652,6492,3096,6061,0,0,0,0,0
80,0,0,6063,6070,0,6541,3128,6046,0,0,0,0,0
92,5903,5903,5923,5924,0,6449,3138,5829,0,0,0,0,0
102,5404,5438,5407,5404,0,5931,3128,5400,0,0,0,0,0
106,0,0,122,122,133,0,121,122,0,0,0,0,0
115,0,0,139,139,130,0,138,139,0,0,0,0,0
120,0,0,1505,1506,1643,1634,1507,1508,0,0,0,0,0
123,0,0,5513,5507,0,5585,3103,7170,0,0,0,0,0
127,0,0,132,132,0,143,133,133,0,0,0,0,0
133,0,0,5508,5508,0,5249,3127,5467,0,0,0,0,0
134,0,0,135,135,0,136,135,136,0,0,0,0,0
148,0,0,5937,5935,4726,6241,3106,5959,0,0,0,0,0
161,0,0,5513,5514,5809,0,3117,5544,0,0,0,0,0
171,5449,5457,5438,5445,5805,5891,3061,5407,0,0,0,0,0
180,0,0,5609,5623,5844,0,3098,5614,0,0,0,0,0

In [15]:
estadistico, p_valor, ex, ddof = chi2_contingency(cross_1)

estadistico, p_valor

(565501.6926295952, 0.0)

In [16]:
datos_ant=df_antes['magnitud']
datos_des=df_despues['magnitud']

df=df.drop('Unnamed: 0', axis=1)
df = df[~df[columns_to_check].apply(lambda row: row.str.contains('n')).any(axis=1)]

for col in columns_to_modify2:
    df[col] = df[col].str.replace(',', '.').astype(float)
df[columns_to_modify2] = scaler.fit_transform(df[columns_to_modify2])
df=df.drop(columns_to_check,axis=1)

In [17]:
# df.to_csv('aire_global',index=False)
# df_antes.to_csv('aire_antes',index=False)
# df_despues.to_csv('aire_despu√©s',index=False)

In [18]:

correlation, p_value = spearmanr(df["estacion"], df["magnitud"])
print("Coeficiente de correlaci√≥n de Spearman:", correlation)
print("Valor p:", p_value)

Coeficiente de correlaci√≥n de Spearman: 0.09765951745118626
Valor p: 0.0

In [19]:
correlation, p_value = pearsonr(df["estacion"], df["magnitud"])
print("Coeficiente de correlaci√≥n de Pearson:", correlation)
print("Valor p:", p_value)

Coeficiente de correlaci√≥n de Pearson: 0.004200261677218451
Valor p: 0.00016816620050213643

spearman= df_despues['punto_muestreo'].corr(df_despues['magnitud'], method='spearman')
pearson =df_antes['punto_muestreo'].corr(df_antes['magnitud'], method='pearson')
print(spearman)
print(pearson)

In [20]:
f_score, p_valor = f_oneway(df_antes['magnitud'], df_despues['magnitud'])
f_score,p_valor

(2960.5283608355994, 0.0)

In [21]:
print(datos_ant.isnull().sum())
print(datos_des.isnull().sum())

0
0

In [44]:
random_sample = df_antes.sample(n=154179)

In [23]:
datos_ant=random_sample['magnitud']
datos_des=df_despues['magnitud']

In [24]:
if df_despues.shape == random_sample.shape:
    print('yes')
else:
    print('no')

yes

In [25]:
random_sample.head()

,provincia,municipio,estacion,magnitud,punto_muestreo,ano,mes,dia,h01,h02,h03,h04,h05,h06,h07,h08,h09,h10,h11,h12,h13,h14,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
543063,28,45,2,10,28045002_10_49,2018,12,4,0.919060,0.927572,0.931374,0.925074,0.927082,0.928552,0.928717,0.909975,0.881442,0.904620,0.912137,0.950119,0.955475,0.948781,0.922028,0.927942,0.915676,0.912348,0.898981,0.867998,0.879902,0.023756,0.021295,0.025151
34278,28,16,1,14,28016001_14_6,2006,11,21,0.923373,0.931833,0.935187,0.928954,0.929584,0.930593,0.935029,0.915243,0.883465,0.905974,0.914595,0.957530,0.963214,0.956274,0.929401,0.935176,0.921986,0.916530,0.900858,0.870764,0.883762,0.056422,0.067436,0.077465
34598,28,74,7,8,28074007_8_8,2006,11,24,0.919152,0.927758,0.931560,0.924242,0.928194,0.930407,0.931038,0.911701,0.883817,0.905974,0.912683,0.952494,0.958915,0.950204,0.924700,0.930817,0.917871,0.912439,0.896567,0.867479,0.879726,0.019302,0.014197,0.005030
63956,28,58,4,20,28058004_20_59,2007,9,13,0.917739,0.926211,0.929914,0.923873,0.926517,0.927948,0.928262,0.908594,0.879507,0.902292,0.910544,0.950176,0.955504,0.948468,0.921650,0.927460,0.914697,0.909574,0.894109,0.864601,0.877673,0.002376,0.001597,0.001911
447695,28,102,1,1,28102001_1_38,2016,12,12,0.917684,0.926183,0.929887,0.923873,0.926526,0.927902,0.928160,0.908430,0.879507,0.902364,0.910498,0.950119,0.955475,0.948497,0.921659,0.927386,0.914578,0.909256,0.893975,0.864454,0.877270,0.000742,0.000887,0.001006

In [26]:
random_sample.head()
datos_des.head()

648270     1
648271     6
648272     7
648273     8
648274    10
Name: magnitud, dtype: int64

In [49]:
ttest_rel(df_despues['magnitud'],random_sample['magnitud'],alternative='less')

TtestResult(statistic=36.10619751511533, pvalue=1.0, df=154178)

In [36]:
ttest_rel(df_despues['magnitud'],random_sample['magnitud'],alternative='less')

TtestResult(statistic=35.31649534813709, pvalue=1.0, df=154178)

In [50]:
df.columns

Index(['provincia', 'municipio', 'estacion', 'magnitud', 'punto_muestreo',
       'ano', 'mes', 'dia', 'h01', 'h02', 'h03', 'h04', 'h05', 'h06', 'h07',
       'h08', 'h09', 'h10', 'h11', 'h12', 'h13', 'h14', 'h15', 'h16', 'h17',
       'h18', 'h19', 'h20', 'h21', 'h22', 'h23', 'h24'],
      dtype='object')

In [52]:
df.rename(columns={'provincia':'province','municipio':'municipality','estacion':'station','estacion':'station',
                   'punto_muestreo':'measuring_point','ano':'year','mes':'month','dia':'day'}, inplace=True)
df.head()

,province,municipality,station,magnitud,measuring_point,year,month,day,h01,h02,h03,h04,h05,h06,h07,h08,h09,h10,h11,h12,h13,h14,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
0,28,13,2,7,28013002_7_8,2005,1,1,0.919611,0.918859,0.906448,0.900882,0.904917,0.910125,0.918763,0.909248,0.880299,0.903267,0.911317,0.906850,0.942733,0.943702,0.922304,0.928684,0.917322,0.914621,0.899875,0.870246,0.881305,0.014848,0.007098,0.008048
1,28,13,2,8,28013002_8_8,2005,1,1,0.919703,0.918676,0.907173,0.901692,0.905098,0.910852,0.919038,0.909339,0.880123,0.902906,0.911135,0.906850,0.943204,0.944361,0.923410,0.930817,0.919517,0.914621,0.898802,0.868689,0.880428,0.020787,0.018634,0.019115
2,28,13,2,10,28013002_10_49,2005,1,1,0.922272,0.919868,0.908350,0.902683,0.906273,0.912581,0.919956,0.909884,0.880827,0.903086,0.911773,0.907666,0.942828,0.942760,0.923410,0.927942,0.916499,0.912348,0.898713,0.868517,0.881481,0.025984,0.029281,0.028169
3,28,13,2,14,28013002_14_6,2005,1,1,0.918785,0.917943,0.906720,0.901332,0.904917,0.910670,0.918946,0.909430,0.880915,0.904169,0.913047,0.909116,0.945842,0.944926,0.926544,0.930539,0.916499,0.910620,0.895316,0.865577,0.878323,0.011136,0.012422,0.013078
4,28,45,2,6,28045002_6_48,2005,1,1,0.917886,0.916870,0.905606,0.900198,0.903814,0.909624,0.917872,0.908394,0.879464,0.902292,0.910416,0.906044,0.941801,0.941367,0.921585,0.927321,0.914533,0.909238,0.894028,0.864566,0.877463,0.001707,0.000799,0.000604

In [ ]:
df_antes(columns={'provincia':'province','municipio':'municipality','estacion':'station','estacion':'station',
                   'punto_muestreo':'measuring_point','ano':'year','mes':'month','dia':'day'}, inplace=True)
df.head()

,province,municipality,station,magnitud,measuring_point,year,month,day,h01,h02,h03,h04,h05,h06,h07,h08,h09,h10,h11,h12,h13,h14,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
0,28,13,2,7,28013002_7_8,2005,1,1,0.919611,0.918859,0.906448,0.900882,0.904917,0.910125,0.918763,0.909248,0.880299,0.903267,0.911317,0.906850,0.942733,0.943702,0.922304,0.928684,0.917322,0.914621,0.899875,0.870246,0.881305,0.014848,0.007098,0.008048
1,28,13,2,8,28013002_8_8,2005,1,1,0.919703,0.918676,0.907173,0.901692,0.905098,0.910852,0.919038,0.909339,0.880123,0.902906,0.911135,0.906850,0.943204,0.944361,0.923410,0.930817,0.919517,0.914621,0.898802,0.868689,0.880428,0.020787,0.018634,0.019115
2,28,13,2,10,28013002_10_49,2005,1,1,0.922272,0.919868,0.908350,0.902683,0.906273,0.912581,0.919956,0.909884,0.880827,0.903086,0.911773,0.907666,0.942828,0.942760,0.923410,0.927942,0.916499,0.912348,0.898713,0.868517,0.881481,0.025984,0.029281,0.028169
3,28,13,2,14,28013002_14_6,2005,1,1,0.918785,0.917943,0.906720,0.901332,0.904917,0.910670,0.918946,0.909430,0.880915,0.904169,0.913047,0.909116,0.945842,0.944926,0.926544,0.930539,0.916499,0.910620,0.895316,0.865577,0.878323,0.011136,0.012422,0.013078
4,28,45,2,6,28045002_6_48,2005,1,1,0.917886,0.916870,0.905606,0.900198,0.903814,0.909624,0.917872,0.908394,0.879464,0.902292,0.910416,0.906044,0.941801,0.941367,0.921585,0.927321,0.914533,0.909238,0.894028,0.864566,0.877463,0.001707,0.000799,0.000604

In [ ]:
df_despues.rename(columns={'provincia':'province','municipio':'municipality','estacion':'station','estacion':'station',
                   'punto_muestreo':'measuring_point','ano':'year','mes':'month','dia':'day'}, inplace=True)
df.head()

,province,municipality,station,magnitud,measuring_point,year,month,day,h01,h02,h03,h04,h05,h06,h07,h08,h09,h10,h11,h12,h13,h14,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
0,28,13,2,7,28013002_7_8,2005,1,1,0.919611,0.918859,0.906448,0.900882,0.904917,0.910125,0.918763,0.909248,0.880299,0.903267,0.911317,0.906850,0.942733,0.943702,0.922304,0.928684,0.917322,0.914621,0.899875,0.870246,0.881305,0.014848,0.007098,0.008048
1,28,13,2,8,28013002_8_8,2005,1,1,0.919703,0.918676,0.907173,0.901692,0.905098,0.910852,0.919038,0.909339,0.880123,0.902906,0.911135,0.906850,0.943204,0.944361,0.923410,0.930817,0.919517,0.914621,0.898802,0.868689,0.880428,0.020787,0.018634,0.019115
2,28,13,2,10,28013002_10_49,2005,1,1,0.922272,0.919868,0.908350,0.902683,0.906273,0.912581,0.919956,0.909884,0.880827,0.903086,0.911773,0.907666,0.942828,0.942760,0.923410,0.927942,0.916499,0.912348,0.898713,0.868517,0.881481,0.025984,0.029281,0.028169
3,28,13,2,14,28013002_14_6,2005,1,1,0.918785,0.917943,0.906720,0.901332,0.904917,0.910670,0.918946,0.909430,0.880915,0.904169,0.913047,0.909116,0.945842,0.944926,0.926544,0.930539,0.916499,0.910620,0.895316,0.865577,0.878323,0.011136,0.012422,0.013078
4,28,45,2,6,28045002_6_48,2005,1,1,0.917886,0.916870,0.905606,0.900198,0.903814,0.909624,0.917872,0.908394,0.879464,0.902292,0.910416,0.906044,0.941801,0.941367,0.921585,0.927321,0.914533,0.909238,0.894028,0.864566,0.877463,0.001707,0.000799,0.000604